/*styling for the background wrapper. ensures that the video background position is correct and visible*/
.BackWrapper, .BackContent {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    overflow: hidden;
    background: #000;
}

.videoBg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.3s ;
    pointer-events: none;
        background: #000;

}

.videoBg.visible {
    opacity: 1;
    z-index: 1;
}