/*styling for the player wrapper / box. includes its positioning as well as border and colour styling.*/
.PlayerWrapper {
    display: flex;
    color: #ffffff;
    height: 18vh;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    margin-bottom: 100px;
    align-items: center;

    border: 4px solid #fff;
    padding: 60px;
    border-radius: 18px;
    gap: 32px; /* space between children */
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.425);
}


/*styling for the song title wrapper.*/
.TitleWrapper{
    display: flex;
    align-items: center;
}
/*title font size*/
.TitleWrapper .SongTitle{
    font-size: 1.1rem;
}
/*more title styling.*/
.SongTitle{
    display: flex;
    flex-direction: column;
    width: 250px;
}
span{
    font-weight: 450;
}


/*styling for the controls wrapper (pause play resume).*/
.ControlsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*more styling for how the controls act within the wrapper.*/
.Controls{
    display: flex;
    flex-direction: row; /*horizontal layout (elements (buttons) lined up correctly)*/
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*styling for the previous button. inherits styling from .Controls*/
.Controls .PrevBtn{
    background: none;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;         /* Icon size */
    cursor: pointer;
    padding: 25px;
    border:none;
}

/*styling for the play button. inherits styling from .Controls*/
.Controls .PlayBtn{
    background: none;
    color: rgb(255, 255, 255);
    font-size: 4.5rem;         /* Icon size */
    cursor: pointer;
    padding: 25px;
    border:none;

}

/*styling for the skip button. inherits styling from .Controls*/
.Controls .SkipBtn{
    background: none;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;         /* Icon size */
    cursor: pointer;
    padding: 25px;
    border:none;

}

/*styling for the volume controls and slider wrapper.*/
.VolumeWrapper{
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

}
/*styling for the volume slider wrapper and  the icon*/
.VolumeSlider {
    display: flex;
    align-items: center;
    gap: 8px;
}
.VolumeIcon{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

/* styling for the slider*/
.slider {
    width: 150px;
    margin-left: 10px;
    height: 7px;
    background: #fff;
    border-radius: 15px;
    -webkit-appearance: none;
    appearance: none;   
    cursor: pointer;
}

/*styling for the slider thumb (slider circle)*/
.slider::-webkit-slider-thumb {
    padding-bottom: 15px;
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #666565;
    cursor: pointer;
    box-shadow: 0 0 2px #000;
}
.slider::-webkit-slider-thumb:hover {
    background: #adadad;
}


/*wrapper for the center of the player content, includes the controls and duration content*/
.CenterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

}

/*wrapper for the duration slider*/
.DurationWrapper{
    display: flex;
    transform: translateY(-50%);
}
.DurationSlider .slider,
.DurationWrapper .slider {
    width: 350px;
    height: 10px;
}
.SongDuration{
    margin-left: 10px;
}