/* (*) represents all element on the page.  all elements within a * will inherit the styling options */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    letter-spacing: 1px;
}
 /*basic styling for html, root and body to inherit*/
html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0;
}